@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

/* Colores custom */
@theme {
  --color-primary: #2563eb;
  --color-secondary: #64748b;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  --font-sans: "Inter", system-ui, sans-serif;
}

/* Estilos base */
* {
  @apply border-slate-200;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans;
}
